/* Below is a list of variables I use through out */
:root {
    --font: futura-pt, sans-serif;
    --codeFont: 'Source Code Pro', monospace;
    --heavy: 700;
    --book: 400;
    --heading: 45px;
    --para: 18px;
    --paraLine: 1.4em;
    --dark: #1A1A1D;
    --red: #C3073F;
    --white: #fafafa;
}

/* Sets the basic properties for the body */
body {
    background-color: var(--dark);
    color: rgb(250, 250, 250);
    cursor: default;
}

/* Sets the basic attributes for the main header */
.title-head {
    width: 85%;
    margin: auto;
    text-align: center;
    margin-top: 30px;
    font-family: var(--font);
}

/* Styling of the title */
.title-head h1 {
    font-size: var(--heading);
}

/* Styling of th sub-title */
.title-head p {
    margin-top: 20px;
    font-size: var(--para);
    line-height: var(--paraLine);
}

/* Setting out the grid display for desktop */
.grid {
    display: grid;
    grid-template: 1.5fr 2fr / repeat(3, 1fr);
    row-gap: 50px;
    column-gap: 20px;
    width: 90%;
    min-height: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    padding-bottom: 50px;
}

/* This is the styling for every box in the grid */
.grid .grid-box {
    width: 100%;
    border: 2px dashed var(--white);
    text-align: left;
    position: relative;
    transition: all 100ms ease-in-out;
}

/* Displays a box shadow when hovering */
.grid .grid-box:hover {
    box-shadow: 6px 6px 6px var(--red);
}

/* The styling for the box headers */
.grid .grid-box .box-head {
    font-size: 30px;
    border: 2px solid var(--white);
    background-color: var(--dark);
    border-radius: 6px;
    width: 90%;
    margin: auto;
    padding: 2%;
    position: relative;
    bottom: 25px;
    color: var(--red);
}

/* This is the styling for the paragraph elements inside each box */
.grid .grid-box .box-text {
    padding: 0px 20px;
    line-height: var(--paraLine);
    color: var(--red);
    font-size: 17px;
    font-family: var(--font);
    overflow: auto;
    position: relative;
}

/* The styling of the coding box */
.grid .grid-box .code {
    margin-top: 15px;
    margin-bottom: 20px;
    border-radius: 10px;
    color: var(--dark);
    user-select: all;
    background-image: linear-gradient(
        rgb(236, 236, 236),
        var(--white) 120%
        );
    font-family: var(--codeFont);
    font-size: 12px;
    padding: 30px 12px;
}

/* Highlights all the text */
.grid .grid-box .code p::selection {
    background-color: var(--red);
}

/* This is the basic styling of the footer */
footer {
    width: 85%;
    margin: auto;
    text-align: center;
    font-family: var(--font);
    padding-bottom: 50px;
}

/* Below are media queries */

@media screen and (max-width: 1200px) {
    .grid .grid-box .box-head {
        font-size: 2.4vw;
    }
}

@media screen and (max-width: 992px) {
    .grid {
        grid-template: 0.5fr 0.5fr 1fr / repeat(2, 1fr);
        min-height: 1000px;
    } 

    .grid .grid-box .box-head {
        font-size: 3vw;
    }
}
    
@media screen and (max-width: 768px) {
    .grid {
        grid-template: repeat(6, 0.5fr) / 1fr;
        min-height: 2200px;
    } 

    .grid .grid-box .box-head {
        font-size: 4vw;
    }

    @media screen and (max-width: 375px) {
        .grid .grid-box .box-head {
            font-size: 6vw;
        }

    }
}